@use "./base/resolutions.scss" as *;

.hero {
  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 7.2rem;
  position: relative;

  @include desktopSmall {
    height: 70.7rem;
    padding-bottom: 0;
    margin-bottom: 6.5rem;
  }

  &__container {
    position: relative;
    z-index: 2;

    @include desktopSmall {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3.2rem;

      //padding-bottom: 20rem;
    }
  }

  /*   &__container {
    padding-top: 3.2rem;
  } */

  &__background {
    background: linear-gradient(
      290deg,
      #d6e6fe 0%,
      rgba(213.73, 251.53, 253.94, 0) 100%
    );
    width: 100%;
    height: 58%;
    top: 0;
    position: absolute;
    z-index: 1;
    background-repeat: repeat-x;
    background-size: auto 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    @include tablet {
      height: 64rem;
    }

    @include desktopSmall {
      width: 63.5%;
      height: 100%;
      left: 2.4rem;
    }
  }

  &__logo {
    margin: auto;
    margin-bottom: 2.4rem;

    @include tablet {
      margin-bottom: 4rem;
    }

    @include desktopSmall {
      width: 6.4rem;
      height: 6.4rem;
      margin: 0;
      margin-right: auto;
      margin-bottom: 12.7rem;
    }
  }

  &__heading {
    margin-bottom: 2.4rem;
    letter-spacing: -0.05em;

    @include tablet {
      padding-inline: 17rem;
    }
    @include desktopSmall {
      max-width: 81%;
      padding-inline: 0;
      text-align: left;
    }
  }

  &__info {
    margin-bottom: 4.8rem;

    @include tablet {
      margin-bottom: 4rem;
    }

    @include desktopSmall {
      text-align: left;
    }
  }
}
